.events-list,
#events-calendar {
	margin-top: 10px;
}
.events-item {
	width: 95%;
	margin-bottom: 20px;
}
.events-item-info {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0;
	padding: 0;
}
.events-thumbnail-wrapper {
	background-color: #ccc;
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: 66%;
	width: 100%;
	height: 0;
}
.events-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
}
.events-item h4 {
	padding: 5px 10px 0px 10px;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.events-item p {
	padding: 0px 10px 5px 10px;
	margin: 0;
}
a.events-item-link {
	display: block;
	background-color: #444;
	color: #fff;
	padding: 3px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
a.events-item-link:hover {
	background-color: #333;
	text-decoration: none;
}
