{! admin/util/minimal-grid !}
{! admin/util/search !}

<form method="get" id="search-form">

<div class="e-row-variable" style="margin-bottom: 20px">
	<div class="e-col-50 e-no-padding">
	<a href="/events/add">{"Add Event"}</a>
	&nbsp;|&nbsp;
	<a href="/events/import">{"Import Events"}</a>
	&nbsp;|&nbsp;
	<a href="/events/categories">{"Categories"}</a>
	{% if User::require_acl ('settings') %}
	&nbsp;|&nbsp;
	<a href="/events/settings">{"Settings"}</a>
	{% end %}
	&nbsp;|&nbsp;
	<a href="/events">{"View Listings"}</a>
	</div>
	<div class="e-col-50 e-no-padding" style="text-align: right">
			<input type="text" name="q" id="search-query" size="40" value="{{q|quotes}}" />
			<button>{"Search"}</button>
			{% if q != '' %}
			<button onclick="window.location.href = '/events/admin'; return false">{"Clear"}</button>
			{% end %}
	</div>
</div>

<div class="e-row-variable">
	<div class="e-col-50 e-no-padding">
		{! navigation/pager?style=results&url=[url]&total=[total]&count=[count]&limit=[limit] !}
	</div>
	<div class="e-col-50 e-no-padding" style="text-align: right">
		{% if total > $data->limit %}
		{! navigation/pager?style=numbers&url=[url]&total=[total]&count=[count]&limit=[limit] !}
		{% end %}
	</div>
</div>

<table width="100%">
	<tr>
		<th width="25%">{"Title"}</th>
		<th width="20%">{"Date"}</th>
		<th width="15%">{"Time"}</th>
		<th width="14%">
			<select name="c" id="search-category">
				<option value="">{"Category"}</option>
				{% foreach categories as _cat, _name %}
				<option value="{{_cat}}"
					{% if c == $data->_cat %}selected{% end %}
				>{{_name}}</option>
				{% end %}
			</select>
		</th>
		<th width="9%" style="text-align: right">{"Guests"}</th>
		<th width="17%">&nbsp;</th>
	</tr>
{% foreach events %}
	<tr>
		<td><a href="/events/{{ loop_value->id }}/{{ loop_value->title|URLify::filter }}">{{ loop_value->title }}</a></td>
		<td>{{ loop_value->start_date|events\Filter::shortdaydate }}{% if loop_value->end_date %} - {{ loop_value->end_date|events\Filter::shortdaydate }}{% end %}</td>
		<td>{{ loop_value->starts|events\Filter::time }}{% if loop_value->ends != '00:00:00' %} - {{ loop_value->ends|events\Filter::time }}{% end %}</td>
		<td>{{ loop_value->category|events\Category::filter_name }}</td>
		<td style="text-align: right">
			{% if loop_value->available > 0 %}
				<a href="/events/guests?id={{ loop_value->id }}">{{ loop_value->guests }} / {{ loop_value->available }}</a>
			{% else %}
				-
			{% end %}
		</td>
		<td style="text-align: right">
			<a href="/events/duplicate?id={{ loop_value->id }}">{"Duplicate"}</a> |
			{% if loop_value->locked %}
			{"Editing Locked"}
			{% else %}
			<a href="/events/edit?id={{ loop_value->id }}">{"Edit"}</a> | <a href="/events/delete" data-id="{{ loop_value->id }}" onclick="return $.confirm_and_post (this, '{"Are you sure you want to delete this event?"}');">{"Delete"}</a>
			{% end %}
		</td>
	</tr>
{% end %}
</table>

</form>

{% if total > $data->limit %}
{! navigation/pager?style=numbers&url=[url]&total=[total]&count=[count]&limit=[limit] !}
{% end %}

<script>
$(function () {
	$.search_init ({
		form: '#search-form',
		query: '#search-query',
		links: '.search-for',
		options: '.search-option'
	});

	$('#search-category').change (function (e) {
		e.preventDefault ();
		
		$('#search-form').submit ();
	});
});
</script>
