<script>
$(function () {
	function events_calendar_init () {
		if (typeof $.fullCalendar === 'undefined') {
			setTimeout (events_calendar_init, 50);
			return;
		}

		$('#events-calendar').fullCalendar ({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek'
			},
			editable: false,
			lang: '{{i18n.language}}',
			{% if gcal_browser_key %}
			googleCalendarApiKey: '{{gcal_browser_key}}',
			{% end %}
			{% if gcal_id %}
			eventSources: [
				'/events/json',
				{
					googleCalendarId: '{{gcal_id}}',
					className: 'gcal-event'
				}
			]
			{% else %}
			events: '/events/json{% if category %}?category={{category}}{% end %}'
			{% end %}
		});
	}
	
	events_calendar_init ();

	$('#events-category').on ('change', function (e) {
		e.preventDefault ();

		var href = $(this).val ();
		window.location.href = href;
	});
});
</script>

<div class="events-header e-row-variable">
	<div class="e-col-50 e-no-padding">
		<a href="/events{% if category %}/category/{{category}}/{{categories[$data->category]|URLify::filter}}{% end %}">{"View List"}</a>
		{% if User::require_acl ('admin', 'admin/add', 'events') %}
			&nbsp;|&nbsp;
			<a href="/events/add">{"Add Event"}</a>
		{% end %}
	</div>
	<div class="e-col-50 e-no-padding" style="text-align: right">
		<select id="events-category">
			<option value="/events/calendar">{"All Categories"}</option>
			{% foreach categories as _category, _name %}
			<option
				value="/events/calendar/category/{{_category}}/{{_name|URLify::filter}}"
				{% if _category == $data->category %}selected{% end %}
			>{{_name}}</option>
		{% end %}
		</select>
	</div>
</div>

<div id="events-calendar"></div>
