{! admin/util/dates !}
{! admin/util/fontawesome !}

<p>
	<a href="/events">&laquo; {"All Events"}</a>
	{% if User::is_valid () %}
		{% if User::require_acl ('admin', 'events') %}
			&nbsp;|&nbsp;
			<a href="/events/guests?id={{id}}">{"Guests"}</a>
		{% end %}
		{% if User::require_acl ('admin', 'admin/edit', 'events') %}
			&nbsp;|&nbsp;
			<a href="/events/edit?id={{id}}">{"Edit Event"}</a>
		{% end %}
		{% if User::require_acl ('admin', 'admin/delete', 'events') %}
			&nbsp;|&nbsp;
			<a href="/events/delete" data-id="{{id}}" onclick="return $.confirm_and_post (this, '{"Are you sure you want to delete this event?"}');">{"Delete Event"}</a>
		{% end %}
	{% end %}
</p>

<div class="events-summary e-row-equal">
	<div class="e-col-40 e-no-padding">
		<div class="events-thumbnail-wrapper">
			<div class="events-thumbnail"
				{% if thumbnail != '' %}
					style="background-image: url({{thumbnail}})"
				{% else %}
					style="background-image: url(/apps/events/css/default.jpg)"
				{% end %}
			></div>
		</div>
	</div>
	<div class="events-summary-info e-col-60 e-no-padding">

		<div class="events-summary-info-text">
<p class="events-date"><strong>{"Date"}:</strong> {{ start_date|events\Filter::date }}{% if end_date %} - {{ end_date|events\Filter::date }}{% end %}</p>

<p class="events-time"><strong>{"Time"}:</strong> {{ starts|events\Filter::time }}{% if ends != '00:00:00' %} - {{ ends|events\Filter::time }}{% end %}</p>

{% if address != '' %}
<p class="events-address">
<strong>{"Where"}:</strong>
{% if venue != '' %}{{venue}}<br />{% end %}
<a href="#" id="show-map" title="{"Show map"}">{{ address }}, {% if city != '' %}{{ city }}{% end %}</a>
</p>
{% end %}

<p class="events-contact"><strong>{"Contact"}:</strong>
{% if contact != '' %}
	<a href="mailto:{{email}}">{{ contact }}</a>{% if phone != '' %}, {{ phone }}{% end %}
{% elseif email != '' %}
	<a href="mailto:{{email}}">{{ email }}</a>{% if phone != '' %}, {{ phone }}{% end %}
{% elseif phone != '' %}
	<a href="tel: {{phone }}">{{ phone }}</a>
{% end %}
</p>
		</div>

{% if ! has_passed %}
	<div class="event-registration">
	{% if available > 0 %}
		{% if remaining > 0 %}
			{% if User::require_login () %}
				<p class="event-registration-link"><a href="/events/register/{{id}}" id="event-registration-link">{"Register"} - {% if price > 0 %}${{price|number_format (%s, 2)}}/{"guest"}{% else %}{"Free!"}{% end %}</a></p>
			{% else %}
				<p class="event-registration-link"><a href="#" id="event-registration-link" onclick="return events_toggle_registration (this)">{"Register"} - {% if price > 0 %}${{price|number_format (%s, 2)}}/{"guest"}{% else %}{"Free!"}{% end %}</a></p>
			{% end %}
		{% else %}
			<p class="event-sold-out"><strong>{"SOLD OUT"}</strong></p>
		{% end %}
	{% end %}
	</div>
{% end %}

	</div>
</div>

{% if $data->remaining > 0 && ! User::require_login () %}
<div id="event-registration" style="display: none">
	<div style="display: inline-block; width: 45%; margin-right: 25px; vertical-align: top">
		<h3>{"Already a member?"}</h3>
		{! user/login?redirect=/events/register/[id] !}
	</div>
	<div style="display: inline-block; width: 45%; vertical-align: top">
		<h3>{"Create a new account"}</h3>
		{! user/signup?redirect=/events/register/[id] !}
	</div>
</div>
{% end %}

{% if address != '' %}
<div id="event-map" style="display: none">{! social/google/maps?address=[address]&city=[city] !}</div></p>
{% end %}

<div class="event-details">{{ details|none }}</div>
<br />

<script>

{% if $data->remaining > 0 && ! User::require_login () %}
	var events_toggle_registration_status = false;
	function events_toggle_registration (link) {
		if (! events_toggle_registration_status) {
			events_toggle_registration_status = true;
			$('#event-registration').slideDown ();
		} else {
			events_toggle_registration_status = false;
			$('#event-registration').slideUp ();
		}
		return false;
	}
	{% if $_SERVER.REQUEST_METHOD == 'POST' %}
		events_toggle_registration (null);
	{% end %}
{% end %}

var events_toggle_map_status = false;
function events_toggle_map (e) {
	e.preventDefault ();

	var link = $('#show-map');

	if (! events_toggle_map_status) {
		events_toggle_map_status = true;
		//$(span).html ('{"hide map"}');
		$('#event-map').slideDown (function () {
			// resize and adjust the position of the map
			for (var m = 0; m < my_maps.length; m++) {
				google.maps.event.trigger (my_maps[m], 'resize');
				for (var p = 0; p < my_markers.length; p++) {
					if (my_markers[p].map == my_maps[m]) {
						my_maps[m].setCenter (my_markers[p].getPosition ());
						break;
					}
				}
				break;
			}
		});
	} else {
		events_toggle_map_status = false;
		//$(span).html ('{"show map"}');
		$('#event-map').slideUp ();
	}
	return false;
}

$(function () {
	$('#show-map').on ('click', events_toggle_map);
});
</script>
