<p>
	<a href="/events/admin">&laquo; {"Back"}</a>
	&nbsp;|&nbsp;
	<a href="/events/guests/add?id={{id}}">{"Add Guest"}</a>
	&nbsp;|&nbsp;
	<a href="/events/guests/export?id={{id}}">{"Export"}</a>
</p>

<p>
<table width="100%">
	<tr>
		<th width="25%">{"Company"}</th>
		<th width="25%">{"Attendees"}</th>
		<th width="15%">{"Status"}</th>
		<th width="25%">{"Notes"}</th>
		<th width="10%">&nbsp;</th>
	</tr>
{% foreach registrations as reg %}
	<tr>
		<td>{{reg->company}}</td>
		<td>{% foreach reg->guests as guest %}{{guest}}<br />{% end %}</td>
		<td>{{reg->status|events\Filter::status}}</td>
		<td>{{reg->notes}}</td>
		<td style="text-align: right">
			<a href="/events/guests/edit?id={{id}}&registration={{reg->id}}">{"Update"}</a>
		</td>
	</tr>
{% end %}
</table>
</p>
