<div class="form">

<form method="post" id="{{_form}}">

<p>{"Events page title"}:<br />
<input type="text" name="title" size="40" value="{{ title|quotes }}" />
<span class="notice" id="title-notice">{"You must enter an events page title."}</span></p>

<p>{"Calendar page layout"}:<br />
<select name="layout">
{% foreach admin\Layout::options () as _layout, _name %}
	<option value="{{ _layout }}"{% if _layout == $data->layout %} selected{% end %}>{{ _name }}</option>
{% end %}
</select></p>

<p>{"Event page layout"}:<br />
<select name="event_layout">
{% foreach admin\Layout::options () as _layout, _name %}
	<option value="{{ _layout }}"{% if _layout == $data->event_layout %} selected{% end %}>{{ _name }}</option>
{% end %}
</select></p>

<p>{"Payment handler"}:<br />
<select name="payment_handler">
	<option value="">{"None"}</option>
	{% foreach payment_handlers %}
	<option value="{{loop_index}}"{% if payment_handler == $data->loop_index %} selected{% end %}>{{loop_value|__}}</option>
	{% end %}
</select>
</p>

<h4>{"Google Calendar Integration"}</h4>

<p><a href="http://fullcalendar.io/docs/google_calendar/" target="_blank">{"Click here for setup instructions."}</a></p>

<p>{"Calendar ID"}:<br />
<input type="text" name="gcal_id" size="40" value="{{ gcal_id|quotes }}" /></p>

<p>{"Google API Key"}:<br />
<input type="text" name="gcal_browser_key" size="40" value="{{ gcal_browser_key|quotes }}" /></p>

<p>
	<input type="submit" value="{"Save Settings"}" />
	&nbsp;
	<a href="/events/admin" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>
</p>

</form>

</div>
