{% if count ($data->events) == 0 %}
<p><b>{"No events attended."}</b></p>
{% else %}
<p><b>{"Events attended"}:</b></p>

<ul>
{% foreach events as event %}
	<li>
		<b>{{event->start_date|I18n::date}} <a href="/events/{{event->id}}/{{event->title|URLify::filter}}">{{event->title}}</a></b><br />
		{"Status"}: {{event->status|events\Filter::status}}<br />
		{"Attendees"}: {{event->num_attendees}}<br />
		{"Notes"}: {{event->notes}}
	</li>
{% end %}
</ul>
{% end %}

<p><a href="/events/admin">{"All events"}</a></p>
